*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navi{
  background-color: darkmagenta;
}
.collapse ul li a{
  color: #f1f1f1;
}
.container-fluid a{
  color: #f1f1f1;
}
.di {
  color: #2a142a !important;
}
.di:hover{
  background-color:deeppink !important;
}
.sc{
  width: 200px !important;
}
/* mid1 */
.mid{
    height: 70vh;
    width: 100%;
    margin-top: 80px;
}
.midrap{
    height: 70vh;
    width: 60%;
    background-image: url(./lg2.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.midr1{
    height: 70vh;
    width: 100%;
    background-color: rgba(44, 21, 39, 0.7);
    border-radius: 20px;
    border-bottom: solid 2px darkmagenta;
    border-top: solid 2px darkmagenta;
    border-left: solid 2px darkmagenta;
    border-right: solid 2px darkmagenta;
}
.midr1 h1{
    color: aliceblue;
    text-align: center;
    padding-top: 130px;
}
.midr1 h3{
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
}
.midr1 p{
    color: aliceblue;
    text-align: center;
    padding-top: 30px;
}

/* lglogo */
.lglogo {
    height: 40vh;
    width: 100%;
}
.lglogo img{
    margin-left: 500px;
    margin-top: 60px;
}

/* form */
.fr{
    height: 100vh;
    width: 80%;
    padding-top: 200px;
    margin: auto;
    background-image: url(./lg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    padding-top: 15px;
  }
  
  .icon {
    padding: 10px;
    background: dodgerblue;
    color: white;
    min-width: 50px;
    text-align: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    outline: none;
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
  /* Set a style for the submit button */
  .btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  }
  
  .bn h1{
    color: rgb(66, 2, 66);
    font-size: 35px;
    font-style: italic;
  }
  .bn{
    height: 7vh;
    background-color: dodgerblue;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-top: solid 1px black;
    border-radius: 10px;
  }
  .btn:hover {
    opacity: 1;
  }

  /* footer */
  /* footer */
.content {
  height: 70vh; }

.footer-20192 {
  margin-top: 120px;
  position: relative;
  color: #fff;
  padding: 7rem 0;
  background-color: #2a142a; }
  .footer-20192 .container {
    position: relative; }
    .footer-20192 .container .ml-auto {
      padding-left: 700px;
    }
  .footer-20192 h3 {
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.5; }
  .footer-20192 .links li {
    margin-bottom: 10px;
    line-height: 1.5;
    display: block; }
    .footer-20192 .links li a {
      color: #666873; }
      .footer-20192 .links li a:hover {
        color: #fff; }
  .footer-20192 .social li {
    display: inline-block;
    position: relative; }
    .footer-20192 .social li a {
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      margin: 0;
      padding-left: 10px;
      background-color: #d581d2;
      color: #fff; 
      font-size: 25px;}
      .footer-20192 .social li a > span {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .footer-20192 .footer-logo {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .1rem; }
  .footer-20192 .copyright {
    color: #666873; }
  .footer-20192 .cta {
    -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
    padding: 20px;
    background-color: #d581cd;
    top: -150px;
    position: relative; }
    .footer-20192 .cta h2, .footer-20192 .cta h3 {
      line-height: 1.5; }
    .footer-20192 .cta h3 {
      font-size: 20px;} 